@{
    ViewBag.Title = "面料订购单";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var provider = "var _jsonProvider={0};".ToFormat(NFD.BLL.DictManager.GetProvider().ToJson()).ToJavaScript();
}
@using Trirand.Web.Mvc
@using COM.Extension;
@using COM.Utility;
@using NFD.Entities.Data;
@model JQGrid
@provider
@section head{
    @Html.Partial("~/Views/Shared/_JqGridFiles.cshtml")
    @{
        var traderJson = "var json=" + NFD.BLL.TraderManager.GetList().ToJson();
    }

    @traderJson.ToJavaScript()
    <script src="/Content/Scripts/Plugs/Single/metable.js" type="text/javascript"></script>
    <script src="/Content/Scripts/Plugs/Multiple/watermark/watermark.js" type="text/javascript"></script>
    <link href="/Content/Scripts/Plugs/Multiple/My97DatePickerBeta/My97DatePicker/skin/WdatePicker.css"
        rel="stylesheet" type="text/css" />
    <link href="/Content/Scripts/Plugs/Multiple/parsley/parsley.css" rel="stylesheet"
        type="text/css" />
    <script src="/Content/Scripts/Plugs/Multiple/parsley/parsley.js" type="text/javascript"></script>
    <link href="/Content/Scripts/Plugs/Multiple/easydialog-v2.0/easydialog.css" rel="stylesheet"
        type="text/css" />
    <script type="text/javascript" src="/Content/Scripts/Plugs/Multiple/easydialog-v2.0/easydialog.js"></script>
    <script src="/Content/Scripts/Plugs/Multiple/My97DatePickerBeta/My97DatePicker/WdatePicker.js"
        type="text/javascript"></script>
    <link href="/Content/Scripts/Plugs/Multiple/My97DatePickerBeta/My97DatePicker/skin/WdatePicker.css"
        rel="stylesheet" type="text/css" />
    <script src="/Content/Scripts/Plugs/Multiple/easydialog-v2.0/easydialoghelper.js"
        type="text/javascript"></script>
    <script>
        function ToSupplier(value) {
            try {
                var json = _jsonProvider;
                var reval = $.linq.first(json, function (v) { return v.dd_id == value }).d_name;
                return reval;
            } catch (e) {
                return "";
            }

        }
        function ToTrader(value, colname) {
            var data = $.linq.first(json, function (o) { return o.trader_id == value; });
            if (data == null) { return "已删除" }
            var alertmessage = "";
            if (data.mobile != null)
                alertmessage += "手机: " + data.mobile + "<br>";
            if (data.qq != null)
                alertmessage += "qq: " + data.qq + "<br>";
            if (data.email != null)
                alertmessage += "email: " + data.email + "<br>";
            if (alertmessage == "") alertmessage = "没有" + data.name + "的信息，请到客户管理完善!!";
            return "<a onclick=\"ed_alert('" + data.name + "详情','" + alertmessage + "')\"  style='float:left;cursor: pointer;'>" + data.name + "</a><span style='float:left;cursor: pointer;' class=\"ui-icon ui-icon-search\" onclick=\"ed_alert('" + data.name + "详情','" + alertmessage + "')\" ></span>"
        }

        $(function () { mergeCell(); })
        function mergeCell() {
            setTimeout(function () {
                //让空不能合并
                $('#fdoGrid_frozen td,#fdoGrid td').filter(function (i) {
                    var th = $(this);
                    if (th.html() == "&nbsp;") {
                        th.html("<a style='display:none'>" + i + "</a>")
                    }
                });
                $('#fdoGrid_frozen').mergeCell({
                    // 目前只有cols这么一个配置项, 用数组表示列的索引,从0开始 
                    // 然后根据指定列来处理(合并)相同内容单元格 
                    cols: [0, 1, 2, 3, 4]
                });

                $('#fdoGrid').mergeCell({
                    // 目前只有cols这么一个配置项, 用数组表示列的索引,从0开始 
                    // 然后根据指定列来处理(合并)相同内容单元格 
                    cols: [20]
                });

                //获取合并的单元列 rowspan>1
                var htgs = $("#fdoGrid_frozen [aria-describedby='fdoGrid_pro_no']").filter(function () {
                    var th = $(this);
                    var thval = th.val();
                    var row = th.attr("rowspan");
                    if (row != null && row != "") {
                        return row > 0
                    }
                    return false;
                });

                htgs.each(function (i, v) {
                    function GetColor(num) {
                        if (i % 2 == 0) {
                            return "mecell1";
                        } else if (i % 1 == 0) {
                            return "mecell2";
                        }
                    }

                    var th = $(this);
                    var num = parseInt(th.attr("rowspan")); //rowspan 下的tr加一样的样式
                    var obj = th.parent().next();
                    if (num == 3) {

                    }
                    for (var j = 1; j < num; j++) {
                        obj.addClass(GetColor(i));
                        obj = obj.next();
                    }

                    th.parent().addClass(GetColor(i));

                });


                $("#fdoGrid tr").each(function (i, v) {
                    var isHasMecell1 = $("#fdoGrid_frozen tr").eq(i).hasClass("mecell1");
                    var isHasMecell2 = $("#fdoGrid_frozen tr").eq(i).hasClass("mecell2")
                    var th = $(this);
                    if (isHasMecell1) {
                        th.addClass("mecell1");
                    } else if (isHasMecell2) {
                        th.addClass("mecell2");
                    }
                })


            }, 1000)

        }

        function exExcel() {
            ed_alertBox("#divExExcel", "导出EXCEL", function () {
                var trader = $(".easyDialog_text #trader_id").val();
                var dateMin = $(".easyDialog_text #dateMin").val();
                var dateMax = $(".easyDialog_text #dateMax").val();
                window.open("/FabricOrder/ExportExcel?trader_id=" + trader + "&dateMin=" + dateMin + "&dateMax=" + dateMax);
            })
        }
    </script>
    <style>
        .ui-jqgrid tr.jqgroup
        {
            display: none;
        }
    </style>
}
<div>
    <ul class="breadcrumb">
        <li>
            <img class="bimg" src="/Content/Scripts/Plugs/Multiple/zTree-zTree_v3-master/zTree_v3/css/zTreeStyle/img/diy/1_open.png" /><a  
             class="hand"  href="@Url.Action("Index")">单据管理</a>><a>@ViewBag.Title</a></li>
    </ul>
</div>
@Html.Trirand().JQGrid(Model, "fdoGrid")

<div id="divExExcel" style="display: none">
    <table>
        <tr>
            <td>
                创建时间:
            </td>
            <td>
                &nbsp; @Html.TextBox("dateMin", "", new { @class = "Wdate", @onclick = "WdatePicker()", style = "width:110px" })
                - @Html.TextBox("dateMax", DateTime.Now.ToString("yyyy-MM-dd"), new { style = "width:110px", @class = "Wdate", @onclick = "WdatePicker()" })
            </td>
        </tr>
        <tr>
            <td>
                选择客户:
            </td>
            <td>
                &nbsp; @Html.DropDownList("trader_id", new SelectList(NFD.BLL.TraderManager.GetList(), "trader_id", "name"))
            </td>
        </tr>
    </table>
</div>